streamlit
sentence-transformers==2.2.2
transformers==4.31.0
huggingface-hub==0.24.1
torch==2.2.0
numpy
gensim
emoji
konlpy
pandas
networkx
seaborn
plotly
spacy
tqdm
joblib
matplotlib
python-dotenv
requests
