sentence-transformers==2.2.2
transformers==4.31.0
huggingface-hub==0.24.1
torch==2.2.0
streamlit
numpy==1.26.4
pandas
networkx
seaborn
plotly
spacy
tqdm
joblib
matplotlib
python-dotenv
requests
gensim
emoji
konlpy
tokenizers==0.13.3
